body{
    background-color:#3d276f;
    align-content:center;
}
#main{
    min-height:600px;  
    background-image: url('/../img/mainBG.png');
    /*background-color:#b6ff00;*/
    background-repeat: repeat-y;
    background-size: 100% auto;
    padding-right: 10px;
    padding-left: 10px;
}
    
h1{
    font-family:'Birch Std','Blackoak Std';
    background-color:#ffd800;
}
aside{
    width: 500px;
    align-content:center;
}

footer{
     background-color:#ffd800;
     text-align:center;
}

/*This are the left link images*/
#home:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/homeNorm.png');
  
}
#home:hover{
    background-image:url('/../img/homehover.png');
}
#homecurrent:link{
     height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image:url('/../img/homeActive.png');
}

#me:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/meNorm.png');
    float: right; 
}
#me:hover{
    background-image:url('/../img/meHover.png');
}
#mecurrent:link{
     height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image:url('/../img/meActive.png');
    float: left; 
}

#projects:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/projectNorm.png');
    float: left; 
}
#projects:hover{
    background-image:url('/../img/projectHover.png');
}
#projectscurrent:link{
     height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image:url('/../img/projectActive.png');
    float: left; 
}

#services:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/servicesNorm.png');
    float: left; 
}
#services:hover{
    background-image:url('/../img/servicesHover.png');
}
#servicescurrent:link{
     height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image:url('/../img/sevicesActive.png');
    float: left; 
}

#contact:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/contactNorm.png');
    float: left; 
}
#contact:hover{
    background-image:url('/../img/contactHover.png');
}
#contactcurrent:link{
     height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image:url('/../img/contactActive.png');
    float: left; 
}

/*These are the right link images*/
#git:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/gitNorm.png');
}
#git:hover{
    background-image:url('/../img/gitHover.png');
}

#facebook:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/facebookNorm.png');
}
#facebook:hover{
    background-image:url('/../img/facebookHover.png');
}

#linkedin:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/linkedinNorm.png');
}
#linkedin:hover{
    background-image:url('/../img/linkedinHover.png');

}

#tumblr:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/tumblrNorm.png');
}
#tumblr:hover{
    background-image:url('/../img/tumblrHover.png');
}

#twitter:link {
    height: 50px;
    width: 50px;
    display: block;
    background: transparent center top no-repeat;
    background-image: url('/../img/twitterNorm.png');
}
#twitter:hover{
    background-image:url('/../img/twitterHover.png');
}
